@mixin commons-layout {

  .field-wide {
    width: 300px;
  }

  /** The main container including nav menu + content. */
  .main-container {
    min-width: $view-content-width;
    overflow-y: auto;
    height: 100%;
  }

  /** The container around the view content. */
  .view-container {
    width: 100%;
    min-height: 80%;
    /*margin-top: $navigation-menu-height;*/
  }

  /** The actual content container. */
  .view-content {
    width: $view-content-width;
    min-height: 400px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .severity-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
  }

  .severity-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
  }

  .list-layout > div > div {
    display: list-item;
    list-style: disc inside;
    padding-left: 12px;

    div.v-caption {
      display: inline;
    }
  }

  .v-slot-caption-padding-right .v-caption {
    display: inline;
    padding-right: 12px;
  }

  /**
   * Common styles.
   */

  /** Image in circle design */
  .round-image {
    border-radius: 50%
  }

  /** Make all labels breaking by default. */
  .breaking-label.v-label {
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  /** Override the default stlye of Vaadin's link buttons which add unnecessary padding. */
  .v-button-link.v-button {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }

  /** Style for password boxes which contain not user passwords (e.g. for databases). */
  .input-password {
    -webkit-text-security: disc;
    font-family: "text-security-disc"; /** Fallback for non-Webkit browsers. */
  }

  /** Material card styles from https://codepen.io/sdthornton/pen/wBZdXq - TODO: maybe use something else? */
  .card {
    background: #fff;
    border-radius: 2px;
  }

  .card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  }

  .card-2:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  .card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  /**
   * Animations
   */

  .fade-transition {
    transition: all 0.3s linear;
  }
}