@mixin commons-layout {

  .field-wide {
    width: 300px;
  }

  /** The main container including nav menu + content. */
  .main-container {
    min-width: $view-content-width;
    overflow-y: auto;
    height: 100%;
  }

  /** The container around the view content. */
  .view-container {
    width: 100%;
    margin-top: $navigation-menu-height;
  }

  /** The actual content container. */
  .view-content {
    width: $view-content-width;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .severity-error {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
  }

  .severity-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
  }

  .list-layout > div > div {
    display: list-item;
    list-style: disc inside;
    padding-left: 12px;

    div.v-caption {
      display: inline;
    }
  }

  .v-slot-caption-padding-right .v-caption {
    display: inline;
    padding-right: 12px;
  }

  /** Common styles. */
  .round-image {
    border-radius: 50%
  }

  /** Override the default stlye of Vaadin's link buttons which add unnecessary padding. */
  .v-button-link.v-button {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }
}