// Modify the base color of the theme
//$v-background-color: hsl(0, 0%, 100%);
// Import valo after setting the parameters
@import "../valo/valo";
@import "commons/layout";
@import "views/login";
@import "views/navigation";
@import "views/admin";
@import "views/project";
/* Third-party libraries. */

/* Color when hovering over containers. */
$background-hover-color: #f3f5f8;
/* Width of the side menu. */
$navigation-menu-height: 50px;
/* Width of the main view. */
$view-content-width: 1600px;

.datac {
  @include valo;
  @include login-view;
  @include admin-view;
  @include project-view;
  @include navigation-menu;
  @include commons-layout;
}