@mixin navigation-menu {

  #dashboard-menu {
    width: $side-menu-width !important;
  }

  .navigation-menu {
    float: left;
    width: $side-menu-width;
  }

  .version-numbers {
    font-size: 12px;
    line-height: 1em;
    /* Move this to the bottom. */
    bottom: 0;
    position: absolute;
    width: $side-menu-width;
  }
}