@mixin project-view {

  /** Project overview list page */

  .v-slot-project-overview-panel {
    padding-bottom: 20px;
  }

  .project-overview-panel > .v-panel-content {
    padding: 16px;
  }

  /** Add some spacing between the grid cells.  */
  .project-overview-panel .v-gridlayout-slot > div {
    margin-right: 12px;
  }

  /** Project revision tab */

  $revision-list-width: 900px;

  .v-slot-revision-list {
    width: $revision-list-width;
    margin-left: auto;
    margin-right: auto;
  }

  .revision-list {

    .revision {
      border: 1px lightgrey solid;
      padding: 5px;
      width: $revision-list-width;

      > div {
        vertical-align: middle;
      }
    }

    .revision-info-container {
      padding-left: 15px;
      width: 600px;
    }

    .revision:hover {
      background: $background-hover-color;
    }

    .revision-right-container {
      width: 160px;
      text-align: right;
    }

    .revision-author-time-container {
      font-weight: lighter;
    }

    .revision-author, .revision-timestamp {
      font-weight: normal;
    }

    .revision-message {
      font-weight: bold;
      white-space: pre-wrap;
    }

    .author-avatar {
      max-width: 75px;
      max-height: 75px;
    }
  }

  /** Project change tab */

  .change-list {
    .change {
      border: 1px lightgrey solid;
      padding: 5px;
      width: 100%;

      > .v-caption {
        margin-right: 14px;
        margin-left: 10px;
      }

      .change-detail-container {
        padding-top: 20px;
        padding-bottom: 12px;

        /** Add some spacing between the detail label cells.  */
        .change-detail-grid > .v-gridlayout-slot > div {
          margin-right: 12px;
        }
      }

      .v-label-sql-preview > pre {
        background-color: inherit !important;
        padding: 0;
        margin: 0;
        width: 1100px;
        white-space: pre-wrap;
      }
    }

    .change:hover {
      background: $background-hover-color;
    }
  }
}